.jumbotron {
  padding-top: 6rem;
  background-color: #b3c8cf;
}

#PROJECTS {
  background-color: #f1eedc;
}
#SKILL {
  background-color: #b3c8cf;
}

#ABOUT {
  background-color: #f1eedc;
}

section {
  padding-top: 5rem;
}
