.jumbotron {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  padding: 2rem;
  background-color: #cecaca;
  color: black;
}

.h1 {
  font-size: medium;
}
.content-wrapper {
  display: flex;
  align-items: flex-start; /* Align items vertically center */
}

.content-wrapper img {
  margin-right: 0.5rem; /* Add some space between the image and the text */
  border-radius: 10px;
}
.content-wrapper h1 {
  margin-top: 0.5rem;
  font-size: x-large; /* Add some space between the image and the text */
}

.image-section {
  display: flex;
  flex-direction: column; /* Stack the image and caption vertically */
  align-items: center; /* Center align the image and caption horizontally */
  margin-right: 1rem; /* Add some space between the image section and the text */
}

.image-caption {
  margin-top: 0.5rem; /* Add some space above the caption */
  text-align: center; /* Center the caption text */
}

.lead {
  max-width: 600px; /* Optional: Limit the width of the text for better readability */
}

@media (max-width: 600px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .content-wrapper img {
    width: 150;
    border-radius: 50%;
    object-fit: cover;
  }
  .image-section {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
